<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammer Post - Post Your Messages To Others in the world!</title>

  <link rel="stylesheet" crossorigin href="/stylesheets/index-D_Y29Y0P.css">
</head>
<body class="bg-black text-white sm:flex sm:items-center sm:justify-center sm:flex-col sm:w-full sm:h-screen">
    <div class="container bg-black sm:w-[31%] sm:h-[60%] md:w-[41%] lg:w-[19%] px-3 py-5">
        <h1 class="text-xl font-bold w-28 sm:w-full sm:text-3xl">Login</h1>
        <form action="/loginCheck" method="post" class="flex flex-col gap-3 mt-3 sm:w-full">
            <input type="email" name="email" id="" placeholder="Email" class="text-sm bg-transparent outline-none text-white border-2 border-white py-2 px-2 rounded-lg sm:text-sm sm:w-64 sm:font-bold" required>
            <input type="password" name="password" id="" placeholder="Password" class="text-sm bg-transparent outline-none text-white border-2 border-white py-2 px-2 rounded-lg sm:text-sm sm:w-64 sm:font-bold" required>
            <input type="submit" value="Login" class="cursor-pointer text-xs px-2 py-3 sm:ml-6 bg-yellow-600 sm:w-52 sm:rounded-md text-black font-bold mb-3 w-full rounded-lg">
        </form>
    </div>
</body>
</html>