<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammer Post - Post Your Messages To Others in the world!</title>
    <link rel="stylesheet" crossorigin href="/stylesheets/index-BqB5sNtp.css">
</head>
<body class="bg-black text-white sm:flex sm:items-center sm:justify-center sm:flex-col sm:w-full sm:h-screen">
    <div class="container bg-black sm:w-[31%] sm:h-[60%] md:w-[41%] lg:w-[19%] px-3 py-5">
        <h1 class="text-xl font-bold w-28 sm:w-full sm:text-3xl">Update Post</h1>
        <form action="/edit/post/<%=post._id %>" method="post" class="flex flex-col gap-3 mt-3 sm:w-full">
            <input type="text" name="heading" class="text-sm bg-transparent outline-none text-white border-2 border-white py-2 px-2 rounded-lg sm:text-sm sm:w-64 sm:font-bold" placeholder="Enter Heading of Post!" value="<%=post.heading %>" required>
            <textarea name="content" cols="60" rows="10" id="" placeholder="Enter Your Post!" class="text-sm bg-transparent outline-none text-white border-2 border-white py-2 px-2 rounded-lg sm:text-sm sm:w-64 sm:font-bold resize-none" required><%=post.content %></textarea>
            <input type="submit" value="Update" class="cursor-pointer text-xs px-2 py-3 sm:ml-6 bg-yellow-600 sm:w-52 sm:rounded-md text-black font-bold mb-3 w-full rounded-lg">
        </form>
    </div>
</body>
</html>